<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= bot.username %></title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <header></header>
    <section class="why_Lana"></section>
    <section class="presentation">
      <h1>C'est quoi Lana en 5 points ?</h1>
      <div id="1">
        <h3>- Fun</h3></br>
        <img src="img/home-no-img.jpg" alt=""></br>
        <p>Pleins de jeux !</p></br>
      </div></br>
      <div id="2">
        <h3>- Informations</h3></br>
        <img src="img/home-no-img.jpg" alt=""></br>
        <p>Des commandes très utiles au quotidien.</p></br>
      </div></br>
      <div id="3">
        <h3>- Modération/anti-raid</h3>
        <img src="img/home-no-img.jpg" alt="">
        <p>Des fonctionnalités que tout le monde a besoin pour protéger son serveur.</p>
      </div></br>
      <div id="4">
        <h3>- Economie</h3>
        <img src="img/home-no-img.jpg" alt="">
        <p>Devenez le plus riche de votre serveur et créer une économie unique !</p>
      </div></br>
      <div id="5">
        <h3>- Récompensez vos membres</h3>
        <img src="img/home-no-img.jpg" alt="">
        <p>Avec son système d'xp et d'invitation, <%= bot.username %> vous offre la possibité de remercier vos membres de leur activitée.</p>
      </div></br>
    </section>
    <footer class="footer"><h3>@ copyright <%= bot.username %></h3></footer>
  </body>
</html>